<h1>profile</h1>

<div class="card">
  <header>
    <p><%= current_user.email %></p>
    <p>joined at <%= current_user.created_at.iso8601 %></p>

  </header>
  <footer>
    <%= link_to 'edit', edit_user_registration_path %>
  </footer>
</div>
