<h1>Questionnaires</h1>

<%= link_to new_questionnaire_path do %>
  <%= fa_icon "plus" %>
  create questionnaire
<% end %>

<section style="margin: 16px 0px;">
<% @questionnaires.each do |questionnaire| %>
  <%= link_to questionnaire_path(questionnaire) do %>
    <div class="card">
      <header><%= questionnaire.title %></header>
    </div>
  <% end %>
<% end %>
</section>
