<h1><%= @questionnaire.title %></h1>

<div class="card">
  <% @questionnaire.questions.each do |question| %>
    <fieldset class="field">
      <%= question.name %>
    </fieldset>
  <% end %>
</div>
